.GameLayer {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.GameModalLayer {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
  z-index: 12;
}

.GameModalLayerText {
  position: absolute;
  width: 500px;
  height: 100px;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 13;
}
.GameModalLayerText > p {
  color: #fff;
  text-align: center;
  font-size: 26px;
}

.GameModalLayerText > p:first-child {
  font-size: 55px;
  font-weight: bold;
}
