.PreviewZone {
  position: absolute;
  left: 50px;
  top: 140px;
}
.PreviewZoneLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 12;
}

.PreviewZone .PreviewCard > div > div {
  width: 205px;
  height: 345px;
  z-index: 12;
}

.PreviewZone .PreviewCharacter > div {
  width: 205px;
  height: 347px;
  z-index: 12;
}
.PreviewSection {
  position: relative;
  display: inline-flex;
  margin: 10px 20px;
  align-items: flex-start;
}

.PreviewZoneItem {
  position: relative;
  display: flex;
  width: 400px;
  flex-direction: column;
  background: #2e3741;
  padding: 16px;
  border-radius: 20px;
  outline: 1px solid #fff;
  outline-offset: -8px;
  max-height: 800px;
  margin-left: 5px;
  overflow: auto;
  z-index: 12;
}
.PreviewItemName {
  font-size: 30px;
  color: #cad8ea;
}
.PreviewItemCost {
  position: relative;
  height: 50px;
  display: inline-flex;
}
.PreviewItemCost > div {
  position: relative;
  width: 52px;
  height: 52px;
  left: -9px;
  top: 0;
}
.PreviewItemType {
  font-size: 24px;
  color: #d3bc8e;
}
.PreviewItemContent {
  font-size: 18px;
  color: #aaa8a2;
}
.PreviewItemSkillSection {
  display: flex;
  flex-direction: column;
}
.PreviewItemSkillSection:hover .PreviewItemSkillDetail {
  display: block;
}

.PreviewItemSkill {
  display: flex;
  border: 3px solid grey;
  border-radius: 8px;
  margin: 6px 0;
  padding: 10px 0;
  cursor: pointer;
  align-items: center;
}
.PreviewItemSkillImg {
  border: 3px solid grey;
  border-radius: 50%;
  margin: 0 10px;
}
.PreviewItemSkillImg > img {
  width: 80px;
  height: 80px;
}
.PreviewItemSkillSection {
  position: relative;
  flex: 1;
}
.PreviewItemSkillName {
  font-size: 24px;
  line-height: 35px;
  color: #d3bc8e;
}
.PreviewItemSkillCost > div {
  top: 0;
  justify-content: left;
}
.Expand .PreviewItemSkillDetail {
  display: block;
}

.PreviewItemSkillDetail {
  display: none;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 8px;
  margin-bottom: 10px;
}

.PreviewEquipmentTitle {
  padding: 10px 0;
  line-height: 30px;
  text-align: center;
  font-size: 22px;
  border: 3px solid grey;
  border-radius: 10px;
  color: #cad8ea;
}
.PreviewEquipmentIcon {
  width: 60px;
  margin-left: 10px;
}
.PreviewEquipmentSection {
  flex: 1;
}
.PreviewEquipment {
  display: flex;
  border: 3px solid grey;
  border-radius: 8px;
  margin: 6px 0;
  padding: 10px 0;
  cursor: pointer;
}
.PreviewEquipmentName {
  font-size: 26px;
  color: #d3bc8e;
  margin-left: 20px;
}
.PreviewEquipments:hover .PreviewEquipmentDetail {
  display: block;
}
.PreviewEquipmentDetail {
  display: none;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
}
.PreviewZoneType {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}
.PreviewZoneType > img {
  width: 50px;
  height: 50px;
}
