.Settings {
  position: absolute;
  right: 32px;
  top: 40px;
  width: 55px;
  height: 55px;
  background-color: aquamarine;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  z-index: 99;
}