.CharacterZone {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
}

.CharacterList {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.CharacterItem {
  position: relative;
  width: 140px;
  height: 236px;
  margin: 0 20px;
  cursor: pointer;
  border: 3px solid gold;
  border-radius: 20px;
  /* box-shadow: 0 0 20px #fbf801; */
}
.CharacterSelected {
  position: absolute;
  background-image: url(/images/select-card-icon.png);
  background-size: cover;
  width: 130px;
  height: 130px;
  top: 50px;
  z-index: 12;
  animation: CharacterSelect 10s linear infinite;
}
@keyframes CharacterSelect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.CharacterHealth {
  width: 60px;
  height: 75px;
  background-image: url(/images/hp-icon.png);
  background-size: cover;
  position: absolute;
  left: -25px;
  top: -15px;
  line-height: 80px;
  color: #fff;
  font-size: 30px;
  text-align: center;

  -webkit-text-stroke: #000 1px;
}

.CharacterEnergy {
  position: absolute;
  top: 10px;
  right: -15px;
  height: 100px;
  width: 40px;
}

.CharacterEnergy .CharacterEnergyItem {
  background-image: url(/images/energy-card-icon.png);
  background-size: cover;
  width: 50px;
  margin-bottom: -15px;
  height: 50px;
}
.CharacterEnergy .CharacterEmptyEnergyItem {
  background-image: url(/images/empty-energy-card-icon.png);
  background-size: cover;
  width: 45px;
  margin-bottom: -15px;
  height: 45px;
  margin-left: 3px;
}

.CharacterEquipment {
  position: absolute;
  top: 65px;
  left: -25px;
}
.CharacterEquipment .CharacterWeapon {
  position: relative;
  background-image: url(/images/equip-weapon-icon.png);
  background-size: cover;
  width: 49px;
  height: 45px;
}
.CharacterEquipment .CharacterArtifact {
  position: relative;
  background-image: url(/images/equip-artifact-icon.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}
.CharacterEquipment .CharacterTalent {
  position: relative;
  background-image: url(/images/equip-talent-icon.png);
  background-size: cover;
  width: 49px;
  height: 45px;
}

.CharacterElementStatus {
  position: absolute;
  width: 200px;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.CharacterElementStatusItem {
  width: 38px;
}
