.CharacterZone {
  position: absolute;
  top: 100px;
  width: 660px;
  left: 50%;
  transform: translate(-50%);
}

.CharacterList {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.CharacterItem {
  width: 200px;
  height: 350px;
  background-color:darkgoldenrod;
  margin: 10px;
}
