.SupportZone {
  position: absolute;
  left: 325px;
  top: 40px;
  width: 280px;
}

.SupportList {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.SupportItem {
  width: 120px;
  height: 130px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}
