.SkillZone {
  position: absolute;
  right: 45px;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
}

.SkillZoneItem {
  margin: -12px;
}

.SkillIcon {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-image: url(/images/skill-bg.png);
  background-size: cover;
}

.SkillPayItems {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
}

.SkillPayItem {
  width: 30px;
  height: 30px;
  flex: 1;
}
