.SkillZone {
  position: absolute;
  right: 45px;
  bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
}

.SkillZoneItem {
  margin: -12px;
  cursor: pointer;
}

.SkillIcon {
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-image: url(/images/skill-bg.png);
  background-size: cover;
}

.SkillIcon > img {
  position: absolute;
  width: 65px;
  top: 34px;
  left: 30px;
  opacity: 0.8;
}

.SkillPayItems {
  position: relative;
  top: -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  top: -15px;
}

.SkillPayItem {
  width: 45px;
  height: 45px;
  text-align: center;
  text-indent: -1px;
  color: #fff;
  font-size: 26px;
  line-height: 46px;
}

.SkillPayItem.Void {
  background-image: url(/images/void-icon.png);
  background-size: cover;
}
.SkillPayItem.Anemo {
  background-image: url(/images/anemo-icon.png);
  background-size: cover;
}
.SkillPayItem.Hydro {
  background-image: url(/images/hydro-icon.png);
  background-size: cover;
}
.SkillPayItem.Dendro {
  background-image: url(/images/dendro-icon.png);
  background-size: cover;
}
.SkillPayItem.Electro {
  background-image: url(/images/electro-icon.png);
  background-size: cover;
}
.SkillPayItem.Geo {
  background-image: url(/images/geo-icon.png);
  background-size: cover;
}
.SkillPayItem.Cryo {
  background-image: url(/images/cryo-icon.png);
  background-size: cover;
}
.SkillPayItem.Pyro {
  background-image: url(/images/pyro-icon.png);
  background-size: cover;
}
.SkillPayItem.Energy {
  background-image: url(/images/energy-icon.png);
  background-size: cover;
}
