.Deck {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: url(/images/anemo-deck.png);
	background-size: cover;
	overflow: hidden;
}