.SummonsZone {
  position: absolute;
  right: 330px;
  top: 40px;
  width: 280px;
}

.SummonsList {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.SummonsItem {
  width: 120px;
  height: 130px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid #f5e9e9;
}

.SummonsItem > img {
  margin-top: -28px;
}

.SummonsItemLayout {
  position: relative;
}

.SummonDamageItem {
  position: absolute;
  left: 14px;
  bottom: 10px;
  width: 55px;
}

.SummonTurnItem {
  position: absolute;
  right: -9px;
  top: -12px;
  width: 42px;
}

.SummonText {
  width: 100%;
  color: #fff;
  position: absolute;

  text-align: center;
  top: 9px;
  font-size: 30px;
  -webkit-text-stroke: #000 1px;
}
