.SummonsZone {
  position: absolute;
  right: 330px;
  top: 40px;
  width: 280px;
}

.SummonsList {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.SummonsItem {
  width: 120px;
  height: 130px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}
