.SummonsZone {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 500px;
}

.SummonsList {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.SummonsItem {
  width: 180px;
  height: 200px;
  margin: 10px;
}
