.Deck {
  position: absolute;
  top: 0;
  bottom: 40px;
  overflow: auto;
  z-index: 22;
  padding: 16px;
}
.DeckFilter {
  padding: 5px 10px;
}
.DeckFilterMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px 16px;
}
.DeckFilterItem {
  text-align: center;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 5px;
  background: #fff;
  color: #ff5a5a;
  border: 2px solid #ff5a5a;
}
.DeckFilterItem.Active {
  background: #ff5a5a;
  color: #fff;
}
.DeckList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}
.DeckItem {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DeckItem > div {
  border: none;
}
.DeckItem > div > div {
  border: none;
}
.DeckLabel {
  width: 180px;
  margin: 10px 0;
  text-align: center;
}
