.Deck {
  position: absolute;
  top: 0;
  bottom: 40px;
  overflow: auto;
  z-index: 22;
  padding: 16px;
}
.DeckFilter {
  position: relative;
  padding: 5px 10px;
}
.DeckFilterMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px 16px;
}
.DeckFilterItem {
  position: relative;
  text-align: center;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 5px;
  background: #fff;
  color: #ff5a5a;
  border: 2px solid #ff5a5a;
}
.DeckFilterItem.Active {
  background: #ff5a5a;
  color: #fff;
}
.DeckList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}
.DeckItem {
  position: relative;
  display: inline-flex;
  margin: 5px;
  flex-direction: column;
  align-items: center;
}
.DeckItem > div {
  position: relative;
  border: none;
}
.DeckLabel {
  width: 90px;
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
}
.DeckItemBtns {
  position: absolute;
  left: 0;
  bottom: -8px;
  z-index: 12;
}
.DeckItemBtn {
  margin: 8px 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 5px 16px;
  border-radius: 8px;
  background-color: black;
}
.DeckCount {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-image: url(/images/counter-icon.png);
  background-size: cover;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  -webkit-text-stroke: #000 1px;
}
.DeckItemImg {
  width: 90px;
}
.AddDeck {
  position: absolute;
  right: 0;
  top: 20px;
  background-color: #5ab2ff;
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  border-radius: 5px;
}
