.Dice {
  position: absolute;
  top: 100px;
  right: 30px;
  padding-top: 10px;
  width: 60px;
  height: 600px;
  z-index: 99;
}

.DiceNum {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: chocolate;
  text-align: center;
  line-height: 45px;
  margin: auto;
}

.DiceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
}

.DiceListItem {
  width: 42px;
  height: 42px;
}