.Dice {
  position: absolute;
  top: 100px;
  right: 30px;
  padding-top: 10px;
  width: 60px;
  height: 600px;
  z-index: 9;
}

.DiceNum {
  position: relative;
  left: -3px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: auto;
  background-image: url(/images/dice-number-icon.png);
  background-size: cover;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-indent: -2px;
}

.DiceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
}

.DiceListItemElement {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 50%;
  top: 50%;
  opacity: 0.5;
  transform: translate(-50%,-50%);
}

.DiceListItem {
  position: relative;
  width: 48px;
  height: 48px;
  margin-top: -2px;
}

.CostDiceZone {
  display: flex;
  position: absolute;
  top: 120px;
  bottom: 120px;
  right: 0;
  padding-top: 10px;
  width: 250px;
  z-index: 12;
  background: linear-gradient(to top, rgba(133, 66, 20, 0) 0%, rgba(133, 66, 20, 0.1) 5%, rgba(90, 44, 4, 0.9)  20%, rgba(90, 44, 4, 0.9)  80%, rgba(205, 95, 1, 0.1)  95%, rgba(133, 66, 20, 0) 100%);
}

.CostDiceZone .DiceList {
  width: 190px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.CostDiceZone .DiceList .DiceListItem {
  width: 85px;
  height: 85px;
  margin: 5px;
}

.CostDiceZone .DiceList .DiceListItemElement {
  width: 48px;
  height: 48px;
}
