.PlayerZone {
  position: absolute;
  left: 0;
  width: 368px;
  height: 128px;
  background-image: url(/images/own-player-icon.png);
  background-size: cover;
}

.PlayerZone.Opposite {
  background-image: url(/images/opposite-player-icon.png);
}

.PlayerContent {
  display: inline-flex;
}

.PlayerInfo {
  margin-top: 30px;
  margin-left: 20px;
}

.PlayerAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 54px;
  margin-top: 36px;
}

.PlayerName {
  width: 160px;
  height: 40px;
  line-height: 32px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.PlayerStatus {
  width: 160px;
  height: 40px;
  line-height: 20px;
  color: gold;
  font-weight: bold;
  font-size: 14px;
}
