.HandCardZone {
  position: absolute;
  bottom: 95px;
  left: 50%;
  margin-bottom: -155px;
  transform: translateX(-50%);
  z-index: 11;
}
.HandCardList {
  display: flex;
  height: 185px;
}
.HandCard {
  position: relative;
  cursor: pointer;
  width: 140px;
  height: 234px;
  margin: 0 10px;
}
.HandCard.NormalBack {
  height: 240px;
  background-image: url(/back/card-back-normal.png);
  background-size: cover;
}

.HandCardBorder {
  border: 4px solid gold;
  border-radius: 17px;
  z-index: 2;
}

.ExpandHandCardList {
  margin: 0;
  transform: translate(-50%, 20px);
  transition: 0.5s ease-in-out;
}

.ExpandHandCardList .HandCard {
  margin-left: 10px;
}

.ExpandHandCardList .Selected .HandCard {
  transform: translate(0, -35px);
  transition: 0.5s;
}

.ExpandHandCardList .HandCard.UnSelect {
  margin-left: 10px;
  transform: translate(0, 35px);
}
.CollapseHandCardList .HandCard {
  margin-left: -55px;
}

.HandCardLayout {
  position: relative;
}

.HandCardPay {
  width: 52px;
  background-image: url(/images/same-icon.png);
  background-size: cover;
  height: 52px;
  position: absolute;
  text-align: center;
  left: -20px;
  top: -10px;
  color: #fff;
  line-height: 50px;
  font-weight: bold;
  font-size: 28px;
  -webkit-text-stroke: #000 1px;
}

.DraftHandCardZone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 19;
}

.DraftHandCardZone .HandCard {
  margin: 0 30px;
}
.DraftHandCardZone .HandCardList .Selected .HandCard {
  transform: translate(0, -35px);
  transition: 0.5s;
}