.HandCardZone {
  position: absolute;
  bottom: 95px;
  left: 50%;
  margin-bottom: -155px;
  transform: translateX(-50%);
  z-index: 11;
}
.HandCardList {
  display: flex;
  height: 185px;
}
.HandCardSwitch {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.HandCard {
  position: relative;
  cursor: pointer;
  width: 140px;
  height: 234px;
  margin: 0 10px;
}
.HandCard.NormalBack {
  height: 240px;
  background-image: url(/back/card-back-normal.png);
  background-size: cover;
}

.HandCard.HandCardBack {
  position: absolute;
  top: -2px;
  opacity: 0;
}

.HandCardLayout {
  position: relative;
  /* perspective: 1000px;
  width: 240px; */
}
/* .HandCardLayout:hover .HandCardBack {
  transform: rotateY(0deg);
}
.HandCardLayout:hover .HandCardFront {
  transform: rotateY(180deg);
}
.HandCardLayout > div {
	backface-visibility: hidden;
  transition: 0.6s;
	position: absolute;
	top: 0;
	left: 0;
}

.HandCardFront {
	transform: rotateY(0deg);
}

.HandCardBack {
	transform: rotateY(180deg);
} */

.HandCardBorder {
  border: 4px solid gold;
  border-radius: 17px;
  z-index: 2;
}

.ExpandHandCardList:hover {
  margin: 0;
  transform: translate(-50%, 20px);
  transition: 0.5s ease-in-out;
}

.ExpandHandCardList:hover .HandCard {
  margin-left: 10px;
  transition: 0.5s;
}

.ExpandHandCardList .Selected .HandCard {
  transform: translate(0, -65px);
}

.ExpandHandCardList .HandCard:hover {
  transform: translate(0, -65px);
  transition: 0.5s;
}

.ExpandHandCardList .HandCard.UnSelect {
  transform: translate(0, 65px);
}
.ExpandHandCardList .HandCard,
.CollapseHandCardList .HandCard {
  margin-left: -55px;
}

.HandCardLayout {
  position: relative;
}

.HandCardPay {
  width: 52px;
  background-image: url(/images/same-icon.png);
  background-size: cover;
  height: 52px;
  position: absolute;
  text-align: center;
  text-indent: -3px;
  left: -20px;
  top: -12px;
  color: #fff;
  line-height: 52px;

  font-size: 30px;
  -webkit-text-stroke: #000 1px;
}
.HandCardPay.Same {
  background-image: url(/images/same-icon.png);
  background-size: cover;
}
.HandCardPay.Void {
  background-image: url(/images/void-icon.png);
  background-size: cover;
}
.HandCardPay.Hydro {
  background-image: url(/images/hydro-icon.png);
  background-size: cover;
}
.HandCardPay.Pyro {
  background-image: url(/images/pyro-icon.png);
  background-size: cover;
}
.HandCardPay.Anemo {
  background-image: url(/images/anemo-icon.png);
  background-size: cover;
}
.HandCardPay.Geo {
  background-image: url(/images/geo-icon.png);
  background-size: cover;
}
.HandCardPay.Dendro {
  background-image: url(/images/dendro-icon.png);
  background-size: cover;
}
.HandCardPay.Electro {
  background-image: url(/images/electro-icon.png);
  background-size: cover;
}
.HandCardPay.Cryo {
  background-image: url(/images/cryo-icon.png);
  background-size: cover;
}
.HandCardPay.Energy {
  background-image: url(/images/energy-icon.png);
  background-size: cover;
}
.Energy {
  top: 40px;
}

.DraftHandCardZone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 19;
}

.DraftHandCardZone .HandCard {
  margin: 0 30px;
}
.DraftHandCardZone .HandCardList .Selected .HandCard {
  transform: translate(0, -35px);
  transition: 0.5s;
}
.CardSelected {
  position: absolute;
  background-image: url(/images/select-card-icon.png);
  background-size: cover;
  width: 130px;
  height: 130px;
  left: 35px;
  top: -195px;
  z-index: 12;
  animation: CardSelect 15s linear infinite;
}
@keyframes CardSelect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
