.ChooseZone {
  position: absolute;
  bottom: 73px;
  right: 33px;
  width: 125px;
  height: 125px;
  z-index: 8;
}
.ChooseBtn {
}

.SetActiveCharacter {
  width: 125px;
  height: 125px;
  background-image: url(/images/skill-bg.png);
  background-size: cover;
  cursor: pointer;
}

.SetActiveCharacter > img {
  position: relative;
  width: 46px;
  margin: auto;
  top: 34px;
}
.SetActiveCharacterHint {
  position: absolute;
  width: 262px;
  height: 62px;
  left: -134px;
  top: -34px;
  line-height: 57px;
  font-size: 20px;
  color: #3b404f;
  text-align: center;
  background-image: url(/images/set-active-character-icon.png);
  background-size: cover;
}
.AlertActiveCharacter {
  position: absolute;
  width: 262px;
  height: 81px;
  left: -139px;
  top: -53px;
  line-height: 28px;
  font-size: 20px;
  color: #fff;
  text-align: left;
  background-image: url(/invokation/images/alert-set-character-icon.png);
  background-size: cover;
}
.AlertActiveCharacter > span {
  display: inline-block;
  margin-top: 8px;
  margin-left: 24px;
}
