.ClockZone {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  left: 20px;
  top: 50%;
  z-index: 11;
  transform: translate(0, -50%);
}

.OppositeDices {
  position: absolute;
  width: 60px;
  bottom: 150px;
  left: 23px;
  height: 60px;
  background-image: url(/images/oppo-dice-icon.png);
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 26px;
  line-height: 60px;
  text-indent: 10px;
  font-weight: bold;
  -webkit-text-stroke: #000 1px;
}

.ClockTime {
  position: relative;
  left: -22px;
  width: 165px;
  height: 165px;
  background-image: url(images/time-clock-icon.png);
  background-size: cover;
}

.OwnDices {
  position: absolute;
  width: 60px;
  top: 160px;
  left: 28px;
  height: 60px;
  background-image: url(/images/own-dice-icon.png);
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-indent: -3px;
  line-height: 60px;
  -webkit-text-stroke: #000 1px;
}
