.main {
  position: absolute;
  display: inline-block;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-image: url(/images/anemo-deck.png);
  background-size: cover;
  transform-origin: 0 0;
  left: 50%;
}
