.screen {
  width: 100%;
  height: 100vh;
}
.main {
  position: fixed;
  display: inline-block;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-image: url(/images/anemo-deck.png);
  background-size: cover;
  transform-origin: 0 0;
  left: 50%;
}

.AlertText {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.PlayerArea {
  width: 100%;
  height: 50%;
  z-index: 9;
}
