.GameLayer {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.GameLayerBtns {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 200px;
  z-index: 22;
}

.ConfirmIcon {
  cursor: pointer;
  width: 250px;
  height: 70px;
  margin: auto;
  background-image: url(/images/confirm-icon.png);
  background-size: cover;
}

.GameModalLayer {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
  z-index: 12;
}

.GameModalLayerText {
  position: absolute;
  width: 500px;
  height: 100px;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 13;
}
.GameModalLayerText > p {
  color: #fff;
  text-align: center;
  font-size: 26px;
}

.GameModalLayerText > p:first-child {
  font-size: 55px;
}

.RollLayer {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 800px;
  height: 400px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  z-index: 12;
}

.RollDice {
  width: 160px;
  height: 160px;
  margin: 20px;
}
.RollDice > img {
  width: 100%;
}

.SetActiveCharacter {
  position: absolute;
  bottom: 73px;
  right: 33px;
  width: 125px;
  height: 125px;
  background-image: url(/images/skill-bg.png);
  background-size: cover;
  z-index: 12;
  cursor: pointer;
}
.SetActiveCharacter > img {
  width: 46px;
  margin: auto;
  padding-top: 35px;
}

.GameLayer > .HandAnimate {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 12;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

/* .GameLayer > .HandAnimate > div {
  position: relative;
  perspective: 1000px;
}

.GameLayer > .HandAnimate > div > div {
  backface-visibility: hidden;
  transition: .6s;
	position: absolute;
	top: 0;
	left: 0;
}

.GameLayer > .HandAnimate > div > div:first-child {
  transform: rotateY(0deg);
}

.GameLayer > .HandAnimate > div > div:last-child {
  transform: rotateY(180deg);
}

.GameLayer > .HandAnimate > div:hover > div:first-child {
  transform: rotateY(180deg);
}

.GameLayer > .HandAnimate > div:hover > div:last-child {
  transform: rotateY(0deg);
} */

.GameLayer > .DraftHandAnimate {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 12;
  animation-duration: 3s;
  animation-fill-mode: both;
  opacity: 0;
}

.GameLayer > .DraftHandAnimate.DraftAnimate1 {
  animation-name: DraftAnimated1;
}

@keyframes DraftAnimated1 {
  from {
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
    opacity: 1;
  }

  20% {
    bottom: 426px;
    left: 678px;
    transform: rotate(0deg);
    scale: 1.2;
    opacity: 1;
  }

  80% {
    bottom: 426px;
    left: 678px;
    transform: rotate(0deg);
    scale: 1.2;
    opacity: 1;
  }

  to {
    bottom: -100px;
    left: 678px;
    transform: rotate(0deg);
    scale: 1;
    opacity: 0;
  }
}

.GameLayer > .DraftHandAnimate.DraftAnimate2 {
  animation-name: DraftAnimated2;
}

@keyframes DraftAnimated2 {
  from {
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
    opacity: 1;
  }

  20% {
    bottom: 426px;
    left: 1078px;
    transform: rotate(0deg);
    scale: 1.2;
    opacity: 1;
  }

  80% {
    bottom: 426px;
    left: 1078px;
    transform: rotate(0deg);
    scale: 1.2;
    opacity: 1;
  }

  to {
    bottom: -100px;
    left: 1078px;
    transform: rotate(0deg);
    scale: 1;
    opacity: 0;
  }
}

.GameLayer > .HandAnimate.Animate1 {
  animation-name: Animated1;
}

@keyframes Animated1 {
  from {
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
  }

  to {
    bottom: 396px;
    left: 478px;
    transform: rotate(0deg);
  }
}

.GameLayer > .HandAnimate.Animate2 {
  animation-name: Animated2;
}

@keyframes Animated2 {
  from {
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
  }

  to {
    bottom: 396px;
    left: 678px;
    transform: rotate(0deg);
  }
}

.GameLayer > .HandAnimate.Animate3 {
  animation-name: Animated3;
}

@keyframes Animated3 {
  from {
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
  }

  to {
    bottom: 396px;
    left: 878px;
    transform: rotate(0deg);
  }
}

.GameLayer > .HandAnimate.Animate4 {
  animation-name: Animated4;
}

@keyframes Animated4 {
  from {
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
  }

  to {
    bottom: 396px;
    left: 1078px;
    transform: rotate(0deg);
  }
}

.GameLayer > .HandAnimate.Animate5 {
  animation-name: Animated5;
}

@keyframes Animated5 {
  from {
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
  }

  to {
    bottom: 396px;
    left: 1278px;
    transform: rotate(0deg);
  }
}
