@media (max-width: 1024px) {
  .Layout {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .Layout {
    width: 100%;
  }
}
.Layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
